<%# @stores %>
<!-- need to fix this.  Issue in the container -->
</div>
<div id="map_stores"></div>
<!-- Modal -->
<div id="confirm_change_coords" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Change Coordinates?</h3>
  </div>
  <div class="modal-body">
    <p>new coordinates for: 
	<span id="store_name"></span>
	<span id="x_coords"></span>,
	<span id="y_coords"></span></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="update_coords" >Save changes</button>
  </div>
</div>

    	<!-- The div needed to create the map -->
<div id="map-canvas"></div>
  