<script type="text/javascript">
stores = <%= raw @stores.to_json %>;
</script>
<div class="update_coords">
<h1>Update Coordinates</h1>
	<p>
		I don't actually do anything yet, but it would be nice if you could update places without coordinates. and have some loading information
	</p>
	<a id="update_coords" class="btn btn-primary">Update coordinates</a>
	<div class="updates"></div>	
</div>	
