html { height: 100% }
body { height: 100%; margin: 0; padding: 0 } 
#google-map-area { height: 100% }
#map-canvas { height: 100% }
#map-canvas img { width: auto; display:inline; }
#map-canvas img { 
	max-width: none;
}

#mapCanvas label { 
	width: auto; display:inline; 
} 